* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


:root {
  --bg-color: #22272B;
  --text-gray-color: #9FADBC;
  --text-white-color: #FFFFFF;
  --list-bg-color: #101204;
}

html {
  height: 100%;
}

body {
  position: relative;
  overflow: hidden;
  font-family: Roboto, Arial;
  color: var(--text-gray-color);
  margin: 0;
  font-size: 14px;
  font-weight:normal;

  background-image: url("/images/background_medium.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




button {
  cursor: pointer;
}

select {
  cursor: pointer;
}

input, select, button {
  font-family: Roboto, Arial;
}

/* These styles will limit text to 2 lines. Anything
   beyond 2 lines will be replaced with "..."
   You can find this code by using an A.I. tool or by
   searching in Google.
   https://css-tricks.com/almanac/properties/l/line-clamp/ 
   .limit-text-to-2-lines {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  */