.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;

  background-color: var(--bg-color);
}

