.header-container {
  min-height: 48px;
  max-height: 48px;
  overflow: hidden;
  border: 1px solid red;
}


.header {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--bg-color);
}

