.main-container {
  display: flex;
  flex-direction: row;
  position: relative;
  border: 3px solid blue;
  flex: 1 1 0%;
}

.board-container {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid greenyellow;
  flex: 1 1 0%;
  padding-left: 260px;
}

.subHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 auto;
  height: 55px;
  background-color: rgba(34, 39, 43, 0.5);
  backdrop-filter: blur(6px);
}

.board {
  border: 2px solid pink;
  height: 100%;
  
}

.lists-array {
  display: block;
  flex-wrap: nowrap;
}

.list-container {
  display: inline-block;
  width: 272px;
  height: 100%;
  vertical-align: top;
  white-space: nowrap;
  border: 1px solid white;
}

.list-content {
  display: flex;
  flex-direction: column;
  padding: 5px;
  max-height: 100%;
  position: relative;
  width: 100%;
  
  
}

.list-title {
  width: 100%;
  height: 48px;
  background-color: bisque;
  margin-bottom: 15px;
  flex: 0 0 auto;
  position: relative;
}

.list-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 7px;
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: auto;
  
  
}

.card {
  width: 100%;
  height: 70px;
  background-color: cadetblue;
}

.card-creator {
  padding: 5px;
  width: 100%;
  border: 1px solid green;
  margin-top: 15px;
  flex: 0 0 auto;
  position: relative;
} 

.list-creator-container {
  display: inline-block;
  vertical-align: top;
  padding: 5px;
  width: 272px;
  border: 1px solid red;
} 

/* .boardWrapper {
  bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}

.subHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  background-color: rgba(34, 39, 43, 0.5);
  backdrop-filter: blur(6px);
}

.board-canvas {
  /* border: 2px solid blue; */
/*   flex-grow: 1;
  position: relative;
  

}

.list-wrapper {
  border: 2px solid green;
  width: 272px;
  display: inline-block;
  height: 90%;
  

  

}

.list {
  width: 272px;
  display: flex;
  flex-direction: column;
  
}

.add-list-wrapper {
  display: inline-block;
  border: 2px solid red;
} */