#main-container {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

#board-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow-x: auto;
}

#subHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 55px;
  max-height: 55px;
  background-color: rgba(34, 39, 43, 0.5);
  backdrop-filter: blur(6px);
}

#board {
  height: 100%;
  display: block;
  white-space: nowrap;
  overflow-x: auto;
  
}

#listsArray {
  display: inline-block;
}


#list-creator-container {
  display: inline-block;
  vertical-align: top;
  padding: 5px;
  width: 272px;
  border: 1px solid red;
} 
