
#sidebar {
  max-width: 260px;
  min-width: 260px;
  height: 100%;
  display: flex;
  flex-direction: column;
  
  
  background-color: var(--bg-sidebar-color);
  

  backdrop-filter: blur(6px);
}

.profile {
  height: 55px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px 0 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--bg-accent-color);
}


.retract-button {
  transform: scale(1.1);
  margin-left: auto;
  padding: 5px;
  border: 1px solid var(--bg-accent-color);
  border-radius: 5px;
  background-color: var(--bg-sidebar-color);
  color: var(--text-gray-color);
  transition: background-color 0.15s;
}
.retract-button:hover {
  background-color: var(--bg-accent-color);
}

.sidebar-item {
  padding: 10px 20px;
  transition: background-color 0.15s;
}
.sidebar-item:hover {
  background-color: var(--bg-accent-color);
}

.sidebar-item i {
  margin-right: 10px;
}